apiVersion: apps/v1
kind: Deployment
metadata:
  name: gp-deployment
  namespace: ivolve
spec:
  replicas: 2
  selector:
    matchLabels:
      app: flask
  template:
    metadata:
      labels:
        app: flask
    spec:
      containers:
      - name: flask
        image: shimaaesmat/gp-ivolve:latest
        imagePullPolicy: Always
        ports:
        - containerPort: 5000

